// variables
@import '~assets/styles/scss/variables';

// component
@import '~assets/styles/scss/components/neu-button';
@import '~assets/styles/scss/components/neu-card';
@import '~assets/styles/scss/components/neu-pill';
@import '~assets/styles/scss/components/neu-scroll';
@import '~assets/styles/scss/components/neu-topnav';

*::selection {
    background: $color-secondary-shade;
    color: $color-secondary-tint;
}

html {
	overflow-x: hidden;
}

body {
	background-color: $color-primary;
}

section {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding: 2.5rem 0;
	font-size: 16px;
    color: $black;
}

nav > div {
	padding: 0 10%;
}
section > div {
	padding: 0 calc(10% + 1.5rem);
}

a {
	color: $black;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

.neu-bg {
	box-sizing: border-box;
	border: 1px solid $color-primary-shade;
	border-color: $color-primary-shade;
    box-shadow: 3px 3px 6px $color-secondary, -3px -3px 6px $white;
	overflow: hidden;
}

/* DARK THEME */
body.dark {
	background-color: $color-dark-primary;
	h1, h4 {
		color: $color-dark-primary-tint;
	}
	p {
		color: $color-dark-tertiary-shade;
	}

	.neu-bg {
		border: 1px solid $color-dark-primary-shade;
		border-color: $dark;
		box-shadow: 3px 3px 6px $color-dark-secondary, -3px -3px 6px $black;
	}
}
