.neu-pill {
    display: flex;
    text-align: center;
    padding: 0;
    box-shadow: 6px 6px 12px $color-secondary, -6px -6px 12px $white;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    border: 1px solid $color-primary-shade;

    &:hover {
        color: $dark;
        background-color: $color-primary;
        border-color: $color-primary-shade;
        box-shadow: inset 2px 2px 5px $color-secondary, inset -3px -3px 7px $white;
    }

    &.large {
        height: 80px;
        width: 80px;
    }
    &.medium {
        height: 60px;
        width: 60px;
    }
    &.small {
        height: 40px;
        width: 40px;
    }    

    &.pill-primary {
        border-radius: 0.55rem;
    }
    &.pill-circle {
        border-radius: 50%;
    }
    &.pill-round {
        border-radius: 30px;
    }
}

/* DARK THEME */
body.dark {
    .neu-pill {
        color: $color-dark-primary-tint;
        background-color: $color-dark-primary;
        box-shadow: 6px 6px 12px $color-dark-secondary, -6px -6px 12px $color-dark-secondary-shade;
        border: 1px solid $dark;
        &:hover {
            color: $color-dark-primary-tint;
            background-color: transparent;
            border-color: $dark;
            box-shadow: inset 2px 2px 5px $color-dark-secondary, inset -3px -3px 7px $color-dark-secondary-shade;
        }
    }

    // .neu-pill {
    //     color: $white;
    //     background-color: $color-dark-primary;
    //     &:hover {
    //         color: #31344b;
    //         background-color: #e6e7ee;
    //         border-color: $color-dark-primary-shade;
    //         box-shadow: inset 2px 2px 5px $color-primary-shade, inset -3px -3px 7px $color-dark-secondary-shade;
    //     }
    // }
}