.neumorphism-card {
	width: 300px;
	height: 300px;
	padding: 1rem;
	border-radius: 0.5rem;
	border: 1px solid $color-primary-shade;
	background-color: $color-primary;
	box-shadow: -9px -12px 15px rgba($white, 0.3), 9px 12px 15px rgba($color-secondary-shade, 0.3);
	overflow: hidden;
	overflow-y: scroll;
	font-size: 16px;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
		box-shadow: -2px -2px 5px $white, 2px 2px 5px $color-secondary-shade
	}

	// Scrollbar styling
	&::-webkit-scrollbar {
		width: 12px;
		-webkit-appearance: none;
		&-thumb {
			background-color: rgba(108, 121, 119, 0.44);
			border: 2px solid $white;
			border-radius: 1rem;
		}
	}

	section {
		width: 100%;
		height: 50vh;
	}
}